@import url("mocha.css");

* {
  font-family: CodeNewRoman Nerd Font Propo, monospace;
  font-size: 20px;
  font-weight: bold;
}

window#waybar {
  background: none;
  color: @text;
}

.modules-left, .modules-center, .modules-right {
  padding: 0px 8px;
  border-radius: 6px;
  background: alpha(@crust, 0.6);
  box-shadow: 0px 0px 2px 0px alpha(@crust, 0.6);
}

.modules-left {
  margin: 6px 0px 6px 12px;
}

.modules-center {
  margin: 6px 0px;
}

.modules-right {
  margin: 6px 12px 6px 0px;
}

#custom-notify, #clock, #cava, #language, #tray,
#workspaces,
#cpu, #memory, #temperature, #power-profiles-daemon, #bluetooth,
#network, #battery {
  color: @subtext1;
  padding: 0px 8px;
  margin: 6px 0px 6px 0px;
}

#custom-notify:hover, #clock:hover, #cava:hover,
#language:hover, #tray:hover,
#cpu:hover, #memory:hover, #temperature:hover, #power-profiles-daemon:hover,
#bluetooth:hover, #network:hover, #battery:hover {
  color: shade(@text, 0.8);
  transition: all 0.2s ease;
}

#workspaces button {
  all: unset;
  padding: 0px 6px;
  background: transparent;
  color: @surface2;
  border: none;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  border: none;
  transition: all 1s ease;
  text-shadow: 0px 0px 1.4px alpha(@crust, 0.6);
}

#workspaces button.active {
  color: @blue;
  border: none;
  text-shadow: 0px 0px 2px alpha(@crust, 0.6);
}

#workspaces button.empty {
  border: none;
  text-shadow: 0px 0px 1.4px alpha(@crust, 0.2);
}

#workspaces button.empty:hover {
  border: none;
  text-shadow: 0px 0px 1.4px alpha(@crust, 0.6);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: @blue;
  border: none;
  text-shadow: 0px 0px 2px alpha(@crust, 0.6);
}

#workspaces button.urgent {
  color: @red;
  border: none;
  text-shadow: 0px 0px 2px alpha(@crust, 0.6);
}

#tooltip {
  background: @mantle;
  color: @subtext2;
}

#custom-notify {
  color: @blue;
  font-size: 24px;
  padding: 0px 6px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
